body {
    background-color: white;
    color:black;
    
}

img {
    float: left;
    width: 250px;
    height: auto;
    margin: 5px;
    border-radius: 15px
}

div {
    clear: left;
}

 #footer{ 
    color: rgb(49, 240, 42) ;
}

.content {
    color: rgb(52, 33, 221);
}
