body {
    background-color: white;
    color: black;
}

div {
    clear: left;
    <li class="pes">Pes</li>

    #myList{
        list-style: circle;
    }
}
#myList .pes{
    color:red
  
}
   
#myList .kocka{
    color:blue
}

#myList .kocka.pes {
    display:none
}




